<app-header></app-header>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4 ">
                        <img src="/assets/about.jpg" alt="about us" class="about">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title text-center us">Home Appliances</h1>
                            <h5 class="card-text h5">Home appliances, also known as domestic appliances, are
                                electrical machines which helps in household functions, such as cooking,
                                cleaning or
                                food preservation. Home appliances can be divided into three
                                classifications, which
                                includes, small appliances, major appliances, or white goods and consumer
                                electronics, or brown goods in the United Kingdom.The division is noticeable
                                in the
                                maintenance and repair of these kinds of products too. Brown goods usually
                                require
                                high technical knowledge and skills (which get more complex with time, such
                                as going
                                from a soldering iron to a hot-air soldering station).</h5>
                            <div class="text-center Learn">
                                <button type="button" class="btn btn-primary bt">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <br> <br>
<app-footer></app-footer>

