
.shadow
{
    margin:100px;
    margin-right: 200px;
    margin-left: 200px;
}
.fb{
 
    box-shadow: 2px 2px 2px;
    font-size: 20px;
    border-radius: 50px;
}
.or
{
    font-size: 20px;
}
.form-control
{
    border-radius: 20px;
    max-width: 60%;
    box-shadow: 2px 2px 2px;

}
.form-group
{
    padding-left: 250px;
}
.login
{
    border-radius: 20px;
}
.h1
{
    padding-top: 70px;
    font-weight: bold;
}
.pt
{
    padding-bottom: 40px;
}
.color{
    background-image: url("/assets/login.jpg");
    padding-top: 200px;
}