<div class="shadow bg-white rounded my-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8">
                <h1 class="text-center h1">Login to Your Account</h1><br>

                <div class="text-center">
                    <ul class="list-unstyled list-inline">

                        <li class="list-inline-item">
                            <button type="button" class="btn btn-outline-danger fb"><i
                                    class="fab fa-google-plus-g"></i></button>
                        </li> &nbsp; &nbsp;

                        <li class="list-inline-item">
                            <button type="button" class="btn btn-outline-primary fb"><i
                                    class="fab fa-facebook-f"></i></button>

                        </li>
                    </ul>
                    <hr>
                    <p class="text-center or"><b>or</b></p>
                </div>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<b>Email address</b></label>
                        <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;<b>Password</b></label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="text-center mb-5">
                        <button type="submit" class="btn btn-outline-success login" [routerLink]="['']"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;<b>Login</b></button><br><br>
                        <a href="" class="text-primary"><b>Forget Password?</b></a>
                    </div>
                </form>
            </div>
            <div class="col-xl-4 pt color text-white text-center">

                <h1>New Here?</h1>
                <h5>Sign up and discover a great <br> purchase of New Products!.. </h5>
                <button type="submit" class="btn btn-light login" [routerLink]="['/signup']"><b>Sign Up</b></button>
            </div>
        </div>
    </div>

</div>
