
<app-header></app-header>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <i class="fa fa-truck car"></i>
            <hr>
            <br>
            <div class="cart">
                <h4>Free shipping</h4>
                <p style="color: grey;"><b>under-₹500</b></p>
            </div>

        </div>
        <div class="col-md-3 text-center">
            <i class="fa fa-comment-alt car"></i>
            <hr>
            <br>
            <div class="cart">
                <h4>24/7 Support.</h4>
                <p style="color: grey;"><b>Live Chat Or Call </b></p>
            </div>

        </div>
        <div class="col-md-3 text-center">
            <i class="fa fa-credit-card car"></i>
            <hr>
            <br>
            <div class="cart">
                <h4>Online Payment</h4>
                <p style="color: grey;"><b>Secure Paytment Services.</b></p>
            </div>

        </div>
        <div class="col-md-3 text-center">
            <i class="fa fa-refresh car"></i>
            <hr>
            <br>
            <div class="cart">
                <h4>Easy Return</h4>
                <p style="color: grey;"><b>Free Shopping</b></p>
            </div>

        </div>
    </div>
</div><br> <br>
<app-footer></app-footer>