.card-img-top{
    padding: 10px;
    object-fit:fill;
    width: 100% !important;
    height: 200px !important; 
    transform: scale(1);
transition: 0.3s ease-in-out;
}
.rate
{
    color: orange;
}
.para2
{
    
    font-size:20px;
    color: blue;
}
.card{
border-radius: 20px;
cursor: pointer;
box-shadow: 6px 6px 6px;
margin: 30px;
box-shadow: 15px 20px 20px rgba(0,0,0,.3),
    inset 4px 4px 10px white;
    transition: .2s;
}
.card:hover
{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3),
    inset -4px -4px 10px white;    
}
a{
    cursor: pointer;
    font-weight: bold;
    color: #a0a0a0 !important;
    font-size: 18px;
    letter-spacing: 0.5px;
}
a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left:0;
    bottom: -3px;
    transform:  scale(0, 1);
    transition: 0.3s;
}
a:hover{
color: black !important;
}
a:hover:after{
    width: 70%;
    transform: scale(1, 1);
}
